@font-face {
    font-family: 'avenir';
    src: url(fonts/Avenir-Book.ttf);
    font-weight:100;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url(fonts/Avenir-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url(fonts/Avenir-MediumOblique.ttf);
    font-weight: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'avenir';
    src: url(fonts/Avenir-Black.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'causten';
    src: url(fonts/Causten-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'causten';
    src: url(fonts/Causten-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}