/* global */
:root {
    --clr-primary-200:#BFA97B;
    --clr-primary-400:#CDF4E3;
    --clr-primary-600:#55AE8D;
    --clr-base-100:#FBFAF8;
    --clr-base-500:#888888;
    --clr-base-900:#1B1B1D;
    --ff-primary: 'avenir';
    --ff-accent: 'causten';
    --fs-50: 0.8rem;
    --fs-100: 1.25rem;
    --fs-200: 1.563rem;
    --fs-400: 1.953rem;
    --fs-500: 2.441rem;
    --fs-600: 4.769rem;
    --fs-xs: clamp(0.64rem, 1vw + 1rem, 1.563rem);
    --fs-s: clamp(1rem, 5vw + 1rem, 1.953rem);
    --fs-m: clamp(1rem, 1vw + 1rem, 1.953rem);
    --fs-l: clamp(2.441rem, 8vw + 1rem, 4.769rem);
    --fs-xl: clamp(1.25rem, 8vw + 1rem, 5.961rem);
}

/* fonts */
@font-face {
    font-family: 'avenir';
    src: url(assets/fonts/Avenir-Book.ttf)format('truetype');
    font-weight:200;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url(assets/fonts/Avenir-Medium.ttf)format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url(assets/fonts/Avenir-MediumOblique.ttf)format('truetype');
    font-weight: 400;
    font-style: oblique;
}
@font-face {
    font-family: 'avenir';
    src: url(assets/fonts/Avenir-Black.ttf)format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'causten';
    src: url(assets/fonts/Causten-Bold.ttf)format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'causten';
    src: url(assets/fonts/Causten-Medium.ttf)format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    position: static;
    overflow-y: auto;
}

body {
    background-color:#FBFAF8; 
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: bold;
    line-height: 1;
}

a {
    color: var(--clr-base-900);
    text-decoration: none;
}

a,p {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-200);
    line-height: 2;
}

img {
    max-width: 100%;
    display: block;
}

div:hover, a:hover, span:hover {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.container {
    margin-inline: auto;
    width: min(88%,125rem);  
}

.container-projects {
    margin-inline: auto;
    width: min(58%,115rem);  
}

section:not(.herobox) {
    padding-block: min(10vh,8rem);
}

/* navbar */
header {
    padding-inline: clamp(1.25rem, 6vw, 10rem);
    background-color:var(--clr-base-900);
    height: 5rem;
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.166);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.2s ease-in-out;
    z-index: 99;
}

.navigation {
    padding-inline: clamp(1.25rem, 6vw, 10rem);
    background-color:var(--clr-base-900);
    height: 0;
    position: fixed;
    overflow: hidden;
    top:5rem;
    left:0;
    right:0;
    transition: top 0.2s ease-in-out;
    transition: 0.5s;
}

.nav-up {
    top: -10rem;
}

.logo {
    width: 25%;
}

  .navitext {
      place-items: center;
    padding-block: min(10vh,2rem);
  }
.navigation h1 {
    font-family: var(--ff-primary);
    font-weight: 900;
    font-size: var(--fs-xs);
    color: var(--clr-base-100);
  }
  .navigation a {
    font-family: var(--ff-accent);
    font-feature-settings: "aalt";
    font-weight: bold;
    display: block;
    font-size: var(--fs-l);
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px var(--clr-base-100);
    padding-block: min(1vh, 3rem);
    padding-inline: min(5vw, 10rem);
  }

  .navigation a:hover {
    color: var(--clr-primary-400);
    -webkit-text-stroke: 1px transparent;
  }

  #currentpage {
    color: var(--clr-base-100);
    -webkit-text-stroke: 1px transparent;
  }

  
/* main page */
/* hero section */
.heroimage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.herotext {
    position: absolute;
    top: 45%;
}

.herotext h1 {
    font-size: var(--fs-xl);
    font-feature-settings: "aalt";
}

.herotext h3 {
    font-weight: 200;
    font-size: var(--fs-m);
    letter-spacing: 0.2rem;
    line-height: 12vh;
}

.arrow {
position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  right: min(6.3vw, 10.3rem);
  top: 90%;
  border-left: none;
  border-top: none;
  border-right: 0.3rem var(--clr-base-500) solid;
  border-bottom: 0.3rem var(--clr-base-500) solid;
  transform: rotate(45deg);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.arrow:hover {
    border-right: 0.3rem var(--clr-primary-600) solid;
    border-bottom: 0.3rem var(--clr-primary-600) solid;
}

  
/* short bio section */

.filler {
    height: 2rem;
}

.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

.aboutme img {
    width: 100%;
    padding-right: 5rem;
}

.aboutmetext {
    padding-right: 8rem;
}

.aboutmetext p {
    font-size: var(--fs-m);
    color: var(--clr-base-500);
}

.aboutmetext p span {
    font-weight: bold;
    color: var(--clr-primary-600);
}

.aboutbutton {
    background-color: transparent;
    border: 0.3rem #1b1b1d;
    border-style: solid;
    border-radius: 5rem;
    padding: 0 3rem;
    display: inline-block;
    position: relative;
    margin-top: 5rem;
}

.aboutbutton p {
    color: var(--clr-base-900);
    font-family: var(--ff-accent);
    font-feature-settings: "aalt";
    text-align: center;
    font-weight: 600;
    font-size: var(--fs-s);  
}

.aboutbutton:hover {
    background-color:var(--clr-primary-400);
}

/* projects title */
.texttop h1{
    font-size: var(--fs-xl);
    font-feature-settings: "aalt";
    color: var(--clr-primary-600);
}

.texttop p {
    margin-top: 1rem;
    font-weight: 200;
    font-size: var(--fs-400);
}

/* project cards */
.container-projects {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: var(--clr-base-500);
    width: 100%;
    height: 50vh;
    margin-bottom: 7vh;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
} 

.card:hover{
    transition-delay: 30ms;
    transform: translateY(-0.3rem);
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myoverlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(95, 95, 95, 0.12) 10%, rgba(72, 91, 83, 0.9) 100%);
}

.myoverlay:hover {
    transition-delay: 30ms;
    opacity: 1;  
}

.myhovertext {
    display: flex;
    flex-wrap: wrap;
    padding-block: min(50vh, 12.5rem);
    padding-inline: min(50vw, 1rem);
}

.projecttitle {
flex-direction: column;
}

.myhovertext h1 {
    font-size: var(--fs-600);
    color: var(--clr-base-100);
    font-feature-settings: "aalt";
    margin-bottom: 1rem;
}

.myhovertext p {
    font-size: var(--fs-400);
    color: var(--clr-base-100);
}

.enterbutton {
    margin: 4rem 0 auto auto;
    padding: 0.1rem 4rem;
    background-color: transparent;
    border: 0.3rem var(--clr-base-100);
    border-style: solid;
    border-radius: 5rem;
    border-radius: 5rem;
   
}

.enterbutton p {
    color: var(--clr-base-100);
    font-family: var(--ff-accent);
    font-feature-settings: "aalt";
    text-align: center;
    font-weight: 600;
    font-size: var(--fs-s);  
}

.enterbutton:hover {
    background-color: var(--clr-primary-200);
}


/* about page */
/* text & image */
.mystory {
    margin-top: 6rem;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.mystory p {
    margin-right: 8rem;
    font-weight: 200;
    font-size: var(--fs-200);
}

.mystory p span {
    font-weight: bold;
}


/* accordions */

.dropdown {
    margin-bottom: 5rem;
}

.line {
    background-color: var(--clr-base-500);
    border-radius: 25px;
    min-height: 0.22rem;
}

.FAQ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FAQ h1 {
    font-family: var(--ff-accent);
    font-weight: bold;
    font-size: var(--fs-m);
    margin: 2rem 0;
}

.content div {
    margin: 2rem 0;
}

.content h3 {
    font-size: var(--fs-200);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content p {
    font-weight: 200;
    font-size: var(--fs-100);
}

.accordion {
    background-color: transparent;
    border-style: none;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

  .content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion:after {
    margin-right: 3em;
    content: url(css/svg/accordion-add.svg);
    
  }
  .active:after {
    content: url(css/svg/accordion-minus.svg);  }

  /* project page */

.introimage {
    position: relative;
    width: 100%;
    height: 80vh;
    padding-top: 5rem;
}

.introimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigtitle {
    padding-block: min(5vh,3rem);
}

.bigtitle h1 {
    font-feature-settings: "aalt";
    font-size: var(--fs-600);

}

.projectdetails {
    display: flex;
    margin-bottom: 5rem;
}

.col {
    padding-top: 10rem;
    padding-right: 8rem;

}

.projectdetails h3 {
    font-size:var(--fs-200);
    padding-bottom: 1rem;
}

.projectdetails p {
    font-family: var(--ff-accent);
    font-weight: normal;
    font-size:var(--fs-100);
    color: var(--clr-base-500);
    line-height: 4rem;
}

.writing {
    padding-block: min(3vh,1rem);
}

.writing img, iframe {
    margin: 0 auto;
    padding-bottom: 2rem;
}

iframe {
    width: 100%;
    height: 100vh;
}

.writing h1 {
    font-size:var(--fs-500);
    padding-block: min(5vh,2rem);
}

.writing h3 {
    font-size:var(--fs-100);
    padding-bottom: 1rem;
}

.writing p {
    font-weight: 200;
    font-size:var(--fs-100);
    padding-bottom: 2rem;
}

.question {
    margin: 2rem 0;
    background-color: var(--clr-base-900);
}

.question h1 {
    padding: 3rem 0;
    font-size:var(--fs-500);
    color: var(--clr-base-100);
}

.spacing {
    padding: 3rem 0;
}

/* exploration page */
/* carousel */

.carousel-container h3{
    font-size: var(--fs-m);
    margin-bottom: 5rem;
}

.slideshow {
    width: min(78%,115rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
/* footer */

.footer-title {
    padding-block: min(2vh, 1rem);
}

.breakupline {
    background-color: var(--clr-base-500);
    border-radius: 25px;
    min-height: 0.22rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: min(10vh, 8rem);
    font-weight: 200;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-right {
    margin-right: 17rem;
}

footer h1{
    font-size: var(--fs-l);
    font-feature-settings: "aalt";
    color: var(--clr-primary-600);
}

footer a {
    font-size: var(--fs-200);
    font-weight: 200;
    text-decoration: underline;
}

footer a:hover {
    color:var(--clr-primary-200);
}

footer p {
    font-size: var(--fs-50);
}

.lasttext {
    padding-block: min(2vh, 1rem);
    padding-right: 5rem;

}

@media (max-width:93.75em) {
:root {
        --fs-50: 0.64rem;
        --fs-100: 1rem;
        --fs-200: 1.25rem;
        --fs-400: 1.563rem;
        --fs-600: 3.052rem;
    }
    
    .container-projects {
        margin-inline: auto;
        width: min(88%,125rem);  
    }

    section:not(.herobox) {
        padding-block: min(5vh,4rem);
    }

    /* navbar */
   

    /* main page */
    /* hero section */
    .herotext h3 {
        font-size: var(--fs-m)/0.3;
        letter-spacing: 0rem;
        line-height: 8vh;
    }
    .arrow {
          width: 1.5rem;
          height: 1.5rem;
          right: min(7.5vw, 10.3rem);
          border-right: 0.25rem var(--clr-base-500) solid;
          border-bottom: 0.25rem var(--clr-base-500) solid;
        }

    /* project cards */
    .card:hover{
        transform: translateY(0);
    }
    .myoverlay {
        opacity: 1;
    }
    .myhovertext {
        padding-block: min(50vh, 16rem);
    }

    /* about page */
    /* text & image */
    .mystory {
       flex-direction: column-reverse;
    }
    
    .mystory p {
        margin: 2rem auto;
    }

    .accordion:after {
        margin-right: 1.5em;        
      }
    /* project page */

    .introimage {
        height: 50vh;
    }

    .projectdetails {
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .col {
        padding-top: 2rem;
        padding-right: 0;
    }
    
    .projectdetails p {
        line-height: 2rem;
    }

    .writing p {
        padding-bottom: 1rem;
    }

    /* footer */

    .footer-links {
        flex-direction: column;
        padding-block: min(5vh, 3rem);
    }

    .footer-right {
        margin-right: 5rem;
    }

    @media (max-width:62.5em) {

        /* short bio section */
    .aboutme {
        flex-direction: column;
    }

    .aboutme img,
    .aboutmetext {
        padding: 1rem 0;
    }

    .aboutmetext p {
        font-size: var(--fs-400);
    }

    .aboutbutton {
        width: 100%;
    }
    }

    @media (max-width:46.873rem) {
        .myhovertext {
            display: block;
            padding-block: min(50vh, 15rem);
            padding-inline: min(50vw, 1rem);
        }

        .enterbutton {
            opacity: 0;
        }
    }
}